@{
    ViewData["Title"] = "Home Page";
}

@if (TempData["Success"] != null)
{
    <div class="alert alert-success">
        <span>@TempData["Success"]</span>
    </div>
}




<div class="text-center">
    <h1 class="display-4">YZL3172</h1>
    
</div>
