@model List<ProductViewModelAdmin>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Administrator/Views/Shared/_AdminLayout.cshtml";
}

<div class="mb-2">
    <table class="table table-hover text-nowrap">
        <thead>
            <tr>
                <th>#</th>
                <th>Product Name</th>
                <th>Unit Price</th>
                <th>UnitsInStock</th>
                <th>Status</th>
                <th>Is Active</th>
                <th></th>
                <th><a href="#" class="btn btn-dark btn-md">Yeni Ürün</a></th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.ProductName</td>
                    <td>@item.UnitPrice</td>
                    <td>@item.UnitsInStock</td>
                    <td>
                        @switch (item.Status)
                        {
                            case ECommerce.Models.Enums.DataStatus.INSERTED:
                                <span>Eklenmiş</span>
                                break;
                            case ECommerce.Models.Enums.DataStatus.UPDATED:
                                <span>Güncellenmiş</span>
                                break;
                            case ECommerce.Models.Enums.DataStatus.DELETED:
                                <span>Silinmiş</span>
                                break;

                        }
                    </td>
                    <td>
                        @{
                            string result = item.IsActive ? "Aktif" : "Pasif";
                            <span> @result </span>
                        }
                    </td>
                    <td>
                        <a href="~/Administrator/Product/Update/@item.Id" class="btn btn-success btn-sm">Update</a>
                        <a href="~/Administrator/Product/Delete/@item.Id" class="btn btn-danger btn-sm">Delete</a>
                    </td>
                </tr>

            }

        </tbody>
    </table>
</div>
