@model List<CategoryViewModelAdmin>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Administrator/Views/Shared/_AdminLayout.cshtml";
}

<div class="mb-2">
    <table class="table table-hover text-nowrap">
        <thead>
            <tr>
                <th>#</th>
                <th>Category Name</th>
                <th>Description</th>
                <th>Status</th>
                <th>Is Active</th>
                <th></th>
                <th>
                    <a href="/Administrator/Category/Create" class="btn btn-dark btn-md">Yeni Kategori</a>
                    <a href="/Administrator/Category/Active" class="btn btn-dark btn-md">Aktif Kategoriler</a>
                    <a href="/Administrator/Category/Passive" class="btn btn-dark btn-md">Pasif Kategoriler</a>
                </th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.CategoryName</td>
                    <td>@item.Description</td>
                    <td>
                        @switch (item.Status)
                        {
                            case ECommerce.Models.Enums.DataStatus.INSERTED:
                                <span>Eklenmiş</span>
                                break;
                            case ECommerce.Models.Enums.DataStatus.UPDATED:
                                <span>Güncellenmiş</span>
                                break;
                            case ECommerce.Models.Enums.DataStatus.DELETED:
                                <span>Silinmiş</span>
                                break;

                        }
                    </td>
                    <td>
                        @{
                            string result = item.IsActive ? "Aktif" : "Pasif";
                            <span> @result </span>
                        }
                    </td>
                    <td>
                        <a href="~/Administrator/Category/Update/@item.Id" class="btn btn-success btn-sm">Update</a>
                        <a href="~/Administrator/Category/Destroy/@item.Id" class="btn btn-danger btn-sm">Destroy</a>
                    </td>
                </tr>

            }

        </tbody>
    </table>
</div>
